* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block; 
    max-width: 100%;
}