@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.inner {
  width: 800px;
  margin: 0 auto;
}

.f1_hdr, .f4_hdr {
  height: 100px;
  background: lemonchiffon;
}

.f2_hdr {
  position: fixed;
  width: 150px;
  height: 100%;
  background: lemonchiffon;
}

.f3_hdr {
  display: flex;
  position: relative;
  height: 200px;
  background: lemonchiffon;
  justify-content: space-between;
}
.f3_hdr h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.f5_hdr .top {
  position: relative;
  display: flex;
  height: 200px;
  background: lemonchiffon;
  justify-content: space-between;
}
.f5_hdr .top h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.f5_hdr .bottom {
  background: #ccc;
}
.f5_hdr .bottom ul {
  display: flex;
  justify-content: center;
  line-height: 50px;
  gap: 20px;
}

footer {
  height: 100px;
  background: lightgoldenrodyellow;
}

#flex1 {
  margin: 10px auto;
  width: 800px;
}
#flex1 > * + * {
  margin-top: 10px;
}
#flex1 .box1 {
  background: #ccc;
  height: 200px;
}
#flex1 .box2 {
  display: flex;
  gap: 10px;
}
#flex1 .box2 div {
  flex: 1;
  background: #ccc;
  height: 100px;
}
#flex1 .box3 {
  display: flex;
  gap: 10px;
}
#flex1 .box3 div {
  flex: 1;
  background: #ccc;
  height: 100px;
}
#flex1 .box4 {
  padding: 10px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
}
#flex1 .box4 div {
  width: calc(50% - 5px);
  background: #fff;
  height: 100px;
}

#flex2 {
  position: absolute;
  left: 160px;
  width: calc(100% - 170px);
  margin: 10px 0;
}
#flex2 > * + * {
  margin-top: 10px;
}
#flex2 .box1 {
  background: #ccc;
  height: 200px;
}
#flex2 .box2 {
  display: flex;
  justify-content: space-between;
}
#flex2 .box2 div {
  width: calc(50% - 5px);
  height: 150px;
  background: #ccc;
}
#flex2 .box3, #flex2 .box4, #flex2 .box7 {
  background: #ccc;
  height: 150px;
}
#flex2 .box5 {
  display: flex;
  justify-content: space-between;
}
#flex2 .box5 div {
  width: calc(80% - 5px);
  height: 100px;
  background: #ccc;
}
#flex2 .box5 div:last-child {
  width: calc(20% - 5px);
}
#flex2 .box6 {
  display: flex;
  justify-content: space-between;
}
#flex2 .box6 div {
  width: calc(30% - 5px);
  height: 100px;
  background: #ccc;
}
#flex2 .box6 div:last-child {
  width: calc(70% - 5px);
}

#flex3 .box1 {
  display: flex;
  position: relative;
  height: 300px;
  background: #ccc;
  justify-content: space-between;
  align-items: center;
}
#flex3 .box1 .btn {
  margin: 0 10px;
}
#flex3 .box1 .pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  gap: 10px;
}
#flex3 .box1 .pagination span {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
}
#flex3 .box1 .pagination span.active {
  background: #888;
}
#flex3 .box2 {
  padding: 50px 0;
}
#flex3 .box2 h2 {
  text-align: center;
  margin: 50px 0;
  font-weight: bold;
  font-size: 50px;
}
#flex3 .box2 ul {
  display: flex;
  width: 800px;
  margin: 0 auto;
  gap: 10px;
}
#flex3 .box2 ul li {
  flex: 1;
  min-width: 0; /* 말줄임을 위해 */
}
#flex3 .box2 ul li a {
  padding: 10px;
  display: block;
  background: yellowgreen;
}
#flex3 .box2 ul li a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  background: #fff;
  margin-top: 10px;
}
#flex3 .box3 {
  padding: 100px 0;
  background: #ccc;
}
#flex3 .box3 ul {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}
#flex3 .box3 ul li {
  flex-basis: 100px;
  background: #fff;
}

#flex4 {
  margin: 10px 0;
}
#flex4 .box1 {
  display: flex;
  justify-content: space-between;
}
#flex4 .box1 div {
  width: calc(50% - 5px);
  background: #ccc;
  height: 200px;
}
#flex4 .box1 div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#flex4 .box1 div:last-child .prev {
  margin-left: 10px;
}
#flex4 .box1 div:last-child .next {
  margin-right: 10px;
}
#flex4 .box2 {
  background: #ccc;
  margin: 10px 0;
  height: 100px;
}
#flex4 .box3 {
  padding: 10px;
  background: #ccc;
}
#flex4 .box3 ul {
  display: flex;
  padding: 10px;
  background: #fff;
  flex-wrap: wrap;
  gap: 10px;
}
#flex4 .box3 ul li {
  background: #ccc;
  height: 100px;
}
#flex4 .box3 ul li:nth-child(1) {
  width: calc(70% - 5px);
}
#flex4 .box3 ul li:nth-child(2) {
  width: calc(30% - 5px);
}
#flex4 .box3 ul li:nth-child(3) {
  width: calc(20% - 5px);
}
#flex4 .box3 ul li:nth-child(4) {
  width: calc(80% - 5px);
}
#flex4 .box4 {
  margin: 10px 0;
  padding: 10px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
}
#flex4 .box4 h2 {
  line-height: 50px;
}
#flex4 .box4 .navi {
  display: flex;
}
#flex4 .box4 .navi a {
  width: 50px;
  height: 50px;
  background: #fff;
}
#flex4 .box5 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#flex4 .box5 ul li {
  width: calc((100% - 30px) / 4);
}
#flex4 .box5 ul li a {
  display: block;
  padding: 10px;
  background: yellowgreen;
}
#flex4 .box5 ul li a strong {
  padding: 10px;
  margin: 10px 0;
  display: block;
  background: #fff;
}
#flex4 .box5 ul li a p {
  padding: 10px;
  background: #fff;
}

#flex5 {
  width: 800px;
  margin: 10px auto;
}
#flex5 > * + * {
  margin-top: 10px;
}
#flex5 .box1 {
  padding: 10px;
  background: #ccc;
}
#flex5 .box1 .top {
  background: #fff;
  height: 150px;
  margin-bottom: 10px;
}
#flex5 .box1 .bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #fff;
}
#flex5 .box1 .bottom .left {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 10px;
}
#flex5 .box1 .bottom .left li {
  width: calc((100% - 20px) / 3);
  height: 100px;
  background: #888;
}
#flex5 .box1 .bottom .right {
  width: 150px;
  background: #888;
}
#flex5 .box2 {
  padding: 10px;
  background: #ccc;
}
#flex5 .box2 li + li {
  margin-top: 10px;
}
#flex5 .box2 a {
  display: flex;
}
#flex5 .box2 a img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
#flex5 .box2 a p {
  margin-left: 10px;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  max-height: 9.25;
  line-height: 1.85;
}