#flex1 {
    margin: 10px auto;
    width: 800px;
    >*+* {
        margin-top: 10px;
    }

    .box1 {
        background: #ccc;
        height: 200px;
    }

    .box2 {
        display: flex;
        gap: 10px;
        div {
            flex: 1;
            background: #ccc;
            height: 100px;
        }
    }

    .box3 {
        display: flex;
        gap: 10px;
        div {
            flex: 1;
            background: #ccc;
            height: 100px;
        }
    }

    .box4 {
        padding: 10px;
        background: #ccc;
        display: flex;
        justify-content: space-between;
        div {
            width: calc(50% - 5px);
            background: #fff;
            height: 100px;
        }
    }
}