#flex2 {
    position: absolute;
    left: 160px;
    margin: 10px 0;
    width: calc(100% - 170px);
    >*+* {
        margin-top: 10px;
    } 

    .box1, .box3, .box4, .box7 {
        height: 150px;
        background: #ccc;
    }

    .box2 {
        display: flex;
        justify-content: space-between;
        div {
            width: calc(50% - 5px);
            height: 200px;
            background: #ccc;
        }
    }

    .box5 {
        display: flex;
        justify-content: space-between;
        div {
            width: calc(80% - 5px);
            height: 150px;
            background: #ccc;
            &:last-child {
                width: calc(20% - 5px);
            }
        }
    }

    .box6 {
        display: flex;
        justify-content: space-between;
        div {
            width: calc(30% - 5px);
            height: 150px;
            background: #ccc;
            &:last-child {
                width: calc(70% - 5px);
            }
        }
    }
}