#flex4 {
    .box1 {
        display: flex;
        margin: 10px 0;
        gap: 10px;
        .slide {
            position: relative;
            flex: 1;
            background: #ccc;
            height: 250px;
            .btn {
                @include position('vt');
                width: 40px;
                height: 40px;
                background: #fff;
                &.prev{left: 10px;}
                &.next{right: 10px;}
            }
        }
    }
    .box2 {
        height: 100px;
        background: lavenderblush;
    }

    .box3 {
        margin: 10px 0;
        padding: 10px;
        background: #ccc;
        ul {
            padding: 10px;
            background: #fff;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            li {
                background: #ddd;
                height: 100px;
                &:nth-child(1){width: calc(70% - 5px);}
                &:nth-child(2){width: calc(30% - 5px);}
                &:nth-child(3){width: calc(20% - 5px);}
                &:nth-child(4){width: calc(80% - 5px);}
            }
        }
    }

    .box4 {
        padding: 10px;
        background: #ccc;
        display: flex;
        justify-content: space-between;
        h2 {
            line-height: 50px;
        }
        .navi {
            display: flex;
            a {
                width: 50px;
                height: 50px;
                background: #fff;
            }
        }
    }

    .box5 {
        margin: 10px 0;
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            li {
                width: calc((100% - 30px) / 4);
                padding: 10px;
                box-sizing: border-box;
                background: #a9d19d;
                strong {
                    display: block;
                    background: #fff;
                    margin: 10px 0;
                    padding: 10px;
                }
                p {
                    padding: 10px;
                    background: #fff;
                    @include ellipse
                }
            }
        }
    }
}